/* Changes Background */

body, .content-wrapper {
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1488 560L0 560 L0 299.67Q89.72 269.39%2c 120 359.12Q155.76 274.88%2c 240 310.65Q331.25 281.9%2c 360 373.16Q375.98 269.14%2c 480 285.13Q521.29 254.42%2c 552 295.71Q615.3 287.01%2c 624 350.31Q644.38 298.69%2c 696 319.06Q721.62 272.68%2c 768 298.3Q850.12 260.42%2c 888 342.54Q937.95 272.5%2c 1008 322.45Q1062.89 257.35%2c 1128 312.24Q1211.83 276.06%2c 1248 359.89Q1270.7 262.6%2c 1368 285.3Q1444.66 241.97%2c 1488 318.63z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 438.89Q43.39 362.28%2c 120 405.68Q142.34 356.02%2c 192 378.36Q236.41 350.77%2c 264 395.18Q304.81 315.99%2c 384 356.8Q471.54 324.34%2c 504 411.87Q569.97 357.84%2c 624 423.8Q668.44 396.25%2c 696 440.69Q697.63 370.32%2c 768 371.95Q818.81 302.76%2c 888 353.57Q991.49 337.06%2c 1008 440.54Q1044.76 357.31%2c 1128 394.07Q1204.57 350.64%2c 1248 427.21Q1259.38 366.59%2c 1320 377.97Q1395.32 333.29%2c 1440 408.61Q1509.81 358.42%2c 1560 428.22z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 456.42Q59.62 396.05%2c 120 455.67Q168.35 384.02%2c 240 432.38Q321.73 394.11%2c 360 475.83Q413.4 409.23%2c 480 462.62Q522.06 384.68%2c 600 426.74Q641.5 396.25%2c 672 437.75Q754.69 400.44%2c 792 483.13Q841.93 413.06%2c 912 462.99Q954.24 385.23%2c 1032 427.47Q1091.74 415.21%2c 1104 474.95Q1172.32 423.27%2c 1224 491.59Q1261.67 409.26%2c 1344 446.94Q1416.34 399.27%2c 1464 471.61z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 537.99Q46.39 512.38%2c 72 558.77Q85.36 500.13%2c 144 513.49Q185.15 482.64%2c 216 523.8Q278.8 514.6%2c 288 577.39Q353.18 522.57%2c 408 587.75Q452.36 512.11%2c 528 556.47Q570.68 479.15%2c 648 521.84Q730.51 484.35%2c 768 566.86Q790.25 517.12%2c 840 539.37Q866.19 493.56%2c 912 519.75Q971.73 507.48%2c 984 567.2Q1035.83 499.03%2c 1104 550.85Q1139.3 466.14%2c 1224 501.44Q1270.54 475.98%2c 1296 522.51Q1383.31 489.82%2c 1416 577.13Q1419.23 508.36%2c 1488 511.59z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e") !important;
}


/* Changes Header Color */

.ebtnLL,
.cWFcHc,
.iTxXDX,
.JZicT,
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side,
.skin-blue .main-header .navbar,
.skin-blue .main-header .logo,
.main-footer {
	background-color: #203A43 !important;
	border-color: transparent !important;
	box-shadow: none !important;
}


/* Changes selected tab color */

.fmPgAW>a:active,
.fmPgAW>.navigation-link:active,
.fmPgAW>a:hover,
.fmPgAW>.navigation-link:hover,
.fmPgAW>a.active,
.fmPgAW>.navigation-link.active,
.cWFcHc>div>a:active,
.cWFcHc>div>div:active,
.cWFcHc>div>a.active,
.cWFcHc>div>div.active,
.jMDToC>a:active,
.jMDToC>.navigation-link:active,
.jMDToC>a:hover,
.jMDToC>.navigation-link:hover,
.jMDToC>a.active,
.jMDToC>.navigation-link.active,
.JZicT>div>a:active,
.JZicT>div>div:active,
.JZicT>div>a.active,
.JZicT>div>div.active {
	box-shadow: #3F778A 0px -2px inset !important;
	background-color: #203A43 !important;
}


/* Changes Text Color */

.fNmetC,
.hcJQtJ,
.ToRTP,
.dPhkRJ,
.cKOMAz,
.jSyjnD,
.jywpgX,
.eFKDEh,
.dUzAFF,
.cbFifO,
.farUaV,
.dMZZHB,
.lgYuLu,
.gSUxYg,
.cdBzyv,
.gxlLzB,
.jexamK,
.eWxPIu,
.eWxPIu:hover,
.jXGwrM,
.mIIYh,
.iambCQ,
.iZqkRd,
.chAlWS,
.iTwxpv,
.skin-blue .main-header .logo {
	color: #fafafa !important;
}


/* Changes disabled switch */

.gdhLjd>label,
.cDmYBr>label {
	background-color: #203A43 !important;
	border-color: #203A43 !important;
}


/* Changes enabled switch */

.gdhLjd>input[type="checkbox"]:checked+label,
.cDmYBr>input[type="checkbox"]:checked+label {
	background-color: #3F778A !important;
	border-color: #3F778A !important;
}


/* Changes server list color */

.liBonM,
.bOIdGn,
.jkiDvQ,
.iYhzbi,
.jqQFoq,
.bEKRkc,
.dRhlIo {
	background-color: #203A43 !important;
	border-radius: 15px !important;
	border-color: #203A43 !important;
}


/* Changes border when hover */

.liBonM:hover,
.kHuGmn:hover,
.dRhlIo:hover,
.bEKRkc:hover {
	border-color: #3F778A !important;
}


/* Changes status bar position and size */

.jkiDvQ .status-bar,
.bvinzM .status-bar,
.iYhzbi .status-bar,
.liBonM .status-bar,
.jqQFoq .status-bar,
.bEKRkc .status-bar,
.dRhlIo .status-bar {
	height: 7vw !important;
	right: -.25vw !important;
}


/* Changes Installing Status, and other bubble text */

.hNrKxe,
.dMZZHB,
.dHRxAp,
.epSLdr,
.bsrsDD,
.ffSVrP,
.fZqvbJ,
.fLfaAY,
.bsSkeI,
.jIIIrT,
.EwfIk,
.izAmwE,
code,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-search--inline .select2-search__field:focus,
.select2-container--default .select2-search--inline .select2-search__field {
	border-radius: 15px;
	background-color: #3F778A !important;
	border-color: #3F778A !important;
	color: #fafafa !important;
}


/* Changes server icons */

.kHuGmn .icon,
.jkiDvQ .icon,
.bvinzM .icon,
.iYhzbi .icon,
.liBonM .icon,
.jqQFoq .icon,
.dRhlIo .icon {
	background-color: #3F778A !important;
}


/* Changes account settings area */

.hfBvRz,
.fenved {
	border-radius: 15px;
	background-color: #203A43 !important;
	border-color: #3F778A !important;
}


/* Changes input areas */

.eDhiE:not([type="checkbox"]):not([type="radio"]),
.lepTyw:not([type="checkbox"]):not([type="radio"]),
.eDhiE[type="checkbox"],
.eDhiE[type="radio"],
.hDlyZJ:not(.disabled):hover,
.farUaV,
.iZMsvi,
.iYSUfg,
.cKwXAB,
.ixeRNi:hover,
.jVkAsT:not([type="checkbox"]):not([type="radio"]),
.kmvYjP:not([type="checkbox"]):not([type="radio"]),
.hsUiOF,
.jrraLb,
.icxFlO:hover,
.gYNKkb,
.elUIig:hover,
.ekbHAG,
.btn-primary,
.btn-warning,
.btn-success,
.alert-danger,
pre,
.input-group .input-group-addon,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
	border-color: #3F778A !important;
	background-color: #0F2229 !important;
	border-radius: 15px !important;
}


/* Changes header-upper */

.kwjWaB,
.grusjm,
.cswOgL,
.cnbtLx,
.bPeJFv,
.bWXUsX,
.nav-tabs-custom.nav-tabs-floating>.nav-tabs,
.box-header.with-border,
.bg-gray {
	border-color: #3F778A !important;
	background-color: #203A43 !important;
	border-radius: 15px !important;
	margin-bottom: 1vw !important;
}


/* Changes header-lower,  */

.ifNwiE,
.LdCMD,
.fIhPZJ,
.cFegvH,
.box-body {
	border-color: transparent !important;
	background-color: #192E35 !important;
	border-radius: 15px !important;
}


/* Hides background of radial areas */

.RkKIC,
.cRDvbO,
.dmLxWB,
.gLxIAb,
.gHwjbw,
.WUPIv,
.dQCdoR,
.vtEGy,
.kGXByO,
.nav-tabs-custom,
.box,
.box-footer,
.small-box>.small-box-footer {
	background-color: transparent !important;
	border-top: none !important;
	box-shadow: none !important;
}


/* Changes console */

.LbmBV,
.hahdAC {
	border-radius: 15px !important;
	background-color: #192E35 !important;
	margin-bottom: .75vw !important;
}


/* Changes console color */

.xterm .xterm-screen,
.xterm .xterm-viewport {
	background-color: #192E35 !important;
}


/* Changes scroll bar */

::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 0 0 0 1px #3F778A, inset 0 0 0 4px #3F778A !important;
}

::-webkit-scrollbar-thumb {
	border-right-width: 4px !important;
	border-left-width: 4px !important;
	-webkit-border-radius: 9px 4px !important;
	-webkit-box-shadow: inset 0 0 0 1px #3F778A, inset 0 0 0 4px #3F778A !important;
}

::-webkit-scrollbar {
	background: #192E35 !important;
	border-radius: 15px !important;
}


/* Changes console input */

.JQChZ,
.csimfD {
	border-color: #3F778A !important;
	background-color: #203A43 !important;
	border-radius: 15px !important;
}

.jSyjnD {
	border-color: #3F778A !important;
}


/* Changes input text area */

.kZaCVF {
	border-color: #3F778A !important;
	background-color: #203A43 !important;
	border-radius: 15px !important;
}


/* Changes schedule, Users, Network, File Manager */

.kqnFDg,
.kHuGmn,
.hIHBYg,
.eGIYvK,
.bmqKpQ,
.fQUMLV {
	border-radius: 15px !important;
	overflow: hidden !important;
	background-color: #203A43 !important;
}


/* Changes Network Icon */

#app>div.sc-2l91w7-0.kDhnAT>div.sc-1p0gm8n-0.kaVYNu>section>div.x3r2dw-0.kbxq2g-0.evldyg.cZTZeB.fade-appear-done.fade-enter-done>div.sc-1xo9c6v-0.yy3pdt-3.gFWKai.hIHBYg>div.yy3pdt-4.irtdLf>div.yy3pdt-5.jCOUjK>svg {
	color: #fafafa !important;
}


/* Changes console input */

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
	background-color: #203A43 !important;
	border-color: transparent !important;
	color: #fafafa !important;
	border-radius: 15px !important;
}


/* Changes check boxes */

.uOUEk.uOUEk,
.jVkAsT[type="checkbox"],
.jVkAsT[type="radio"] {
	border-radius: 15px !important;
	background-color: #192E35 !important;
	border-color: #3F778A !important;
}


/* Changes Sub-User */

.ekHIsr::-webkit-scrollbar {
	background: #203A43 !important;
	border-radius: 15px !important;
}

.ekHIsr {
	background-color: #203A43 !important;
	border-radius: 15px !important;
}


/* Fixes border radius when moving off of div */

.icxFlO,
.elUIig {
	border-radius: 15px !important;
}


/* Changes selected admin page */

.skin-blue .sidebar-menu>li.active>a {
	box-shadow: #3F778A 0px -2px inset !important;
	border-left-color: #3F778A !important;
	background-color: #192E35 !important;
}


/* Changes background color of hovered admin page */

.skin-blue .sidebar-menu>li:hover>a,
.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li.menu-open>a,
.skin-blue .main-header .navbar .sidebar-toggle:hover {
	background-color: #192E35 !important;
}


/* Changes category name */

.skin-blue .sidebar-menu>li.header {
	color: #fafafa !important;
	background-color: #192E35 !important;
}


/* Changes selected tab and background color */

.nav-tabs-custom>.nav-tabs>li.active,
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	border-top-color: #3F778A !important;
	border-bottom-color: #3F778A !important;
}

.nav-tabs-custom>.nav-tabs>li.active>a,
.nav-tabs-custom>.nav-tabs>li.active:hover>a {
	background-color: #192E35 !important;
	border-color: transparent;
}

.nav-tabs-custom>.nav-tabs>li:hover {
	border-top-color: #3F778A !important;
}

/* Removes border */

.box-footer,
hr {
	border-top: none !important;
}

.nav-tabs-custom>.nav-tabs>li.active,
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	background-color: #203A43 !important;
}

/* Removes port bubble */

#app > div.App___StyledDiv-sc-2l91w7-0.fnfeQw > div.Fade__Container-sc-1p0gm8n-0.hcgQjy > section > div.ContentContainer-x3r2dw-0.PageContentBlock___StyledContentContainer-kbxq2g-0.hiUzTH.ckLneN.ServerConsole___StyledServerContentBlock-sc-1j2y518-0.hlbvqz.fade-appear-done.fade-enter-done > div.ServerConsole___StyledDiv-sc-1j2y518-1.dfrjYE > div.TitledGreyBox___StyledDiv-gvsoy-0.kGXByO.ServerDetailsBlock___StyledTitledGreyBox-sc-168cvuh-0.dQCdoR > div.TitledGreyBox___StyledDiv3-gvsoy-4.fIhPZJ > p.ServerDetailsBlock___StyledP2-sc-168cvuh-3.wOPxU.CopyOnClick___StyledCopyToClipboard-sc-7pjzdv-1.knscqo > code {
	background: #192E35 !important;
}
